/* Script changing Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Root Color */
:root {
    --mainColor:#eee;
    --secondColor:#800080;
    --thirdColor:#ccc;
    --fourthColor:#c38bbf;
    --fontColor:#1b0b1a;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--fourthColor)
}
    
.background {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    z-index: -1;
}

.container {
    width: 800px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

header {
    background-color: var(--mainColor);
    min-height: 50px;
    text-align: center;
    border-radius: 8px;
}

.logo {
    padding: 10px;
}

.logo img {
    width: 12rem;
    border-radius: 10px;
}

header h2 {
    font-size: 25px;
    margin: 0;
    color: var(--fontColor);
}

nav {
    padding: 2px;
}

nav ul li {
    display: inline-block;
    position: relative;
    z-index: 2;
}

nav ul li a {
    padding: 0 10px;
    text-decoration: none;
    color: var(--secondColor);
    font-weight: bold;
}

ul.submenu {
    text-align: left;
    position: absolute;
    left: 0;
    display: none;
}

nav ul li:hover ul.submenu {
    display: block;
}

ul.submenu li {
    border: 1px solid var(--thirdColor);
    background-color: var(--mainColor);
    top: 15px;
    width: 100%;
}

ul.submenu li a {
    display: block;
    padding: 0px 10px;
    margin: 2px auto;
}

.jumbotron {
    width: 100%;
    padding: 80px 40px;
    box-sizing: border-box;
    text-align: center;
    color: var(--mainColor);
    margin-top: 14px;
    margin-bottom: 14px;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    position: relative;
}

.sub-jumbotron h1, .sub-jumbotron p {
    position: relative;
    color: var(--thirdColor);
}

main {
    background-color: var(--mainColor);
    min-height: 500px;
    border-radius: 8px;
    overflow: auto;
    margin-top: 14px;
}

.articles {
    padding: 5px;
    margin: 5px;
    text-align: justify;
    color: var(--fontColor);
}

.content {
    background-color: var(--thirdColor);
    text-align: center;
    padding: 10px;
    width: 160px;
    margin: 10px;
    float: left;
}

.content img {
    width: 100%; 
}

.profile {
    text-align: center;
    position: relative;
    top: 100px;
    right: 0;
}

.profile img {
    width: 150px;
}

.biodata li {
    display: inline-block;
}

div ul {
    padding: 0;
}

.biodata li a {
    padding-right: 10px;
    text-decoration: none;
    color: #800080;
}

.biodata ul li a:hover {
    color: var(--secondColor);
    font-weight: bold;
}

footer {
    background-color: var(--mainColor);
    min-height: 50px;
    border-radius: 8px;
    position: relative;
}

footer p {
    text-align: center;
    font-style: italic;
    font-size: smaller;
    padding: 25px;

    color: var(--fontColor);
}

p span b {
    color: var(--secondColor);
}
    
/* Responsive Layout */
@media screen and (max-width: 62em) {

    
    .container {
        width: 100%;
    }
    
    .logo img {
        width: 10rem;
    }

    .content {
        float: none;
        padding: 20px;
        width: auto;
        margin: 20px;
    }
}

@media screen and (max-width: 30em) {

    .logo img {
        width: 8rem;
    }
    
    .sub-jumbotron h1 {
        font-size: 18px;
    }

    .sub-jumbotron p {
        font-size: 12px;
    }

    .content {
        float: none;
        padding: 10px;
        width: auto;
        margin: 10px;
    }
}